/* Font: Adams, V(2013).BenchNine[Font].
http://www.fontsquirrel.com/fonts/benchnine;
Accessed 15/12/13 */
@font-face {
  font-family: "BenchNine-Bold";
  src: url("../fonts/BenchNine-Bold.otf");
}
@font-face {
  font-family: "BenchNine-Regular";
  src: url("../fonts/BenchNine-Regular.otf");
}

body {
  background-color: transparent;
  background-image: url("images/vertical_gradient.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

/* flex styling*/
.flex-content {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.small {
  flex-grow: 1;
}

.double {
  flex-grow: 2;
}

.triple {
  flex-grow: 3;
}

.quad {
  flex-grow: 4;
}

container.sticky-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

/*header and top image*/
header {
  background-color: #e0edf9;
  opacity: 1;
  padding: 1% 0;
  margin: 0;
  border: 10px solid #98c6eb;
  border-bottom: 0;
  text-align: left;
}

footer {
  border-top: 10px solid #e0edf9;
  background-color: #98c6eb;
  margin: 1% 0 0 0;
  padding: 1%;
}

.header-content {
  width: 60%;
}

header a {
  font-size: 4rem;
  line-height: 3rem;
  padding: 1%;
  text-decoration: none;
  font-family: "BenchNine-Bold";
  color: #4c6375;
}

a.header-sub.small {
  display: inline;
  color: #88b2d3;
}

.top-img {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  opacity: 0.7;
  z-index: 1000;
}

nav {
  display: block;
  background-color: #fff;
  border: 10px solid #98c6eb;
  border-top: 0;
  box-shadow: 1rem 1rem 1rem #88b2d3;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  text-align: left;
  display: inline-flex;
  padding: 0 1%;
}
nav ul li a {
  font-size: 2em;
  text-decoration: none;
  font-family: "BenchNine-Bold";
  color: #4c6375;
}

nav ul li a:hover {
  color: #98c6eb;
}

h1,
h2,
h3 {
  font-family: "BenchNine-Bold";
  color: #4c6375;
  margin: 0 1%;
  padding: 0;
}

h1 {
  box-sizing: border-box;
  text-align: center;
  color: rgb(250, 213, 156);
  background-color: #4c6375;
  border: 5px solid #88b2d3;
}

h2,
h3 {
  margin-top: 2%;
  padding: 0;
}

label.search-box,
input.search-box {
  margin: 3% 1% 1% 1%;
  padding: 0;
}

.grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 1%;
  margin: 1%;
  border: 5px solid #e0edf9;
}

.grid-item {
  margin-top: 0;
  padding: 10%;
  padding-bottom: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
}

p.grid-item {
  position: relative;
  word-wrap: normal;
  font-size: 1.4rem;
  margin-left: 10%;
}

.move {
  background: transparent;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  position: sticky;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.move-first {
  animation-delay: 2s;
  animation-name: move-in-from-left;
}

.move-second {
  animation-delay: 5s;
  animation-name: bounce-in;
}

.move-third {
  animation-delay: 8s;
  animation-name: move-in-from-right;
}

.move-background {
  background-image: url(images/covid-background.png);
  animation-delay: 2;
  animation-name: change-background;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes move-in-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(-10%);
    opacity: 1;
  }
}

@keyframes move-in-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(-10%);
    opacity: 1;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  40% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    opacity: 1;
  }
}

@keyframes change-background {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
    background-color: rgba(250, 213, 156, 0.7);
  }
  100% {
    background-image: none;
    background-color: rgb(250, 213, 156);
  }
}

form,
section {
  box-sizing: border-box;
  margin: 1%;
  padding: 1%;
}

section.flex-address-box {
  background-color: #e0edf9;
  border: 5px solid #98c6eb;
  width: 15%;
  font-size: 1.3rem;
}

section.flex-info-box {
  background-color: #e0edf9;
  border: 5px solid #98c6eb;
}

form {
  background-color: rgb(250, 213, 156);
}

section {
  border: 5px solid #e0edf9;
}

address {
  margin-top: 10%;
}

/* media query additional styles */
@media only screen and (max-width: 992px) {
  header a {
    font-size: 3rem;
  }

  .top-img {
    width: 50%;
  }

  p.grid-item {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .top-img {
    width: 50%;
  }

  .grid-container {
    grid-template-columns: auto auto;
  }

  p.grid-item {
    font-size: 1.2rem;
  }

  label.search-box,
  input.search-box {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 600px) {
}
