/* Font: Adams, V(2013).BenchNine[Font].
http://www.fontsquirrel.com/fonts/benchnine;
Accessed 15/12/13 */
@font-face {
  font-family: "BenchNine-Bold";
  src: url("../fonts/BenchNine-Bold.otf");
}
@font-face {
  font-family: "BenchNine-Regular";
  src: url("../fonts/BenchNine-Regular.otf");
}

body {
  background-color: transparent;
  background-image: url("images/vertical_gradient.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
}

/* flex styling*/
.flex_content {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.small {
  flex-grow: 1;
}

.double {
  flex-grow: 2;
}

.triple {
  flex-grow: 3;
}

.quad {
  flex-grow: 4;
}

/*header and top image*/
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0.7;
  padding: 0;
  margin: 0;
  border: 10px solid #98c6eb;
  text-align: left;
  box-shadow: 1rem 1rem 1rem #88b2d3;
}

.header_content {
  width: 60%;
}

header a {
  font-size: 4rem;
  line-height: 3rem;
  padding: 2%;
  text-decoration: none;
  font-family: "BenchNine-Bold";
  color: #4c6375;
}

a.header_sub.small {
  display: inline;
  color: #88b2d3;
}

.top-img {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  opacity: 0.7;
}

nav {
  position: relative;
}

/* media query additional styles */
@media only screen and (max-width: 992px) {
  header a {
    font-size: 3rem;
  }

  .top-img {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .top-img {
    width: 50%;
  }
}

/* stacked boxes layout*/
@media only screen and (max-width: 600px) {
}
