:root {
  --strong-orange: rgb(243, 126, 0);
  --mid-orange: rgb(255, 200, 140);
  --strong-blue: rgb(2, 125, 208);
  --mid-blue: rgb(203, 226, 245);
  --light-blue: rgb(224, 237, 249);
  --mid-grey-blue: rgb(136, 178, 211);
  --dark-grey-blue: rgb(76, 99, 117);
  --white: rgb(255, 255, 255);
}

/* Font: Adams, V(2013).BenchNine[Font].
http://www.fontsquirrel.com/fonts/benchnine;
Accessed 15/12/13 */
@font-face {
  font-family: "BenchNine-Bold";
  src: url("../fonts/BenchNine-Bold.otf");
}
@font-face {
  font-family: "BenchNine-Regular";
  src: url("../fonts/BenchNine-Regular.otf");
}

body {
  background-color: transparent;
  background-image: url("images/vertical_gradient.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

/* flex styling*/
.flex-content {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.small {
  flex-grow: 1;
}

.double {
  flex-grow: 2;
}

.triple {
  flex-grow: 3;
}

.quad {
  flex-grow: 4;
}

container.sticky-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

/*header and top image*/
header {
  background-color: var(--light-blue);
  opacity: 1;
  padding: 1% 0;
  margin: 0;
  border-bottom: 0;
  text-align: left;
}

.header-content {
  width: 60%;
}

header a {
  font-size: 4rem;
  line-height: 3rem;
  padding: 1%;
  text-decoration: none;
  font-family: "BenchNine-Bold";
  color: var(--dark-grey-blue);
  text-align: left;
}

a.header-sub.small {
  display: inline;
  color: var(--mid-grey-blue);
}

footer {
  border-top: 10px solid var(--light-blue);
  background-color: #98c6eb;
  margin: 0;
  padding: 1%;
  font-family: "BenchNine-Regular";
}

.top-img {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  opacity: 0.7;
  z-index: 1000;
}

nav {
  display: block;
  background-color: var(--mid-blue);
  box-shadow: 3px 3px 3px var(--mid-grey-blue);
}

nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  text-align: left;
  display: inline-flex;
  padding: 0 1%;
}
nav ul li a {
  font-size: 1.8em;
  text-decoration: none;
  font-family: "BenchNine-Bold";
  color: var(--dark-grey-blue);
}

nav ul li a:hover {
  color: var(--strong-orange);
}

h1,
h2,
h3 {
  font-family: "BenchNine-Bold";
  color: var(--dark-grey-blue);
  margin: 3% 1% 1%;
  padding: 0;
}

h1 {
  box-sizing: border-box;
  text-align: center;
  color: rgb(255, 200, 140);
  background-color: var(--dark-grey-blue);
  border: 5px solid var(--mid-grey-blue);
}

h3 {
  margin-top: 2%;
  padding: 0;
}

img-text-box {
  padding: 0;
}

img-text-box img {
  display: block;
  width: 7%;
}

img-text-box h2 {
  margin-top: 1%;
  margin-left: 0;
  position: absolute;
  width: 7%;
  text-align: center;
  font-size: 1.1rem;
}

img.person {
  width: 7%;
  position: sticky;
}

label.search-box,
input.search-box {
  margin: 1% 1% 1% 1%;
  padding: 0;
  float: left;
  position: relative;
}

label.search-box {
  font-family: "BenchNine-Regular";
}

.grid-column-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  margin: 0;
}

.grid-column {
  background-color: transparent;
  text-align: left;
}

.grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 1%;
  margin: 0 1% 0 1%;
  border: 5px solid var(--light-blue);
}

.grid-item {
  margin-top: 0;
  padding: 10%;
  padding-bottom: 0;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
}

p.grid-item {
  position: relative;
  word-wrap: normal;
  font-size: 1.2rem;
  margin-left: 10%;
}

img.grid-item {
  width: 70%;
}

.move {
  background: transparent;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  position: sticky;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.move-first {
  animation-delay: 1s;
  animation-name: move-in-from-left;
}

.move-second {
  animation-delay: 4s;
  animation-name: bounce-in;
}

.move-third {
  animation-delay: 7s;
  animation-name: move-in-from-right;
}

.move-background {
  background-color: transparent;
  animation-delay: 2s;
  animation-name: change-background;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 1;
}

.move-across {
  animation-delay: 2;
  animation-name: move-across-from-left;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  opacity: 1;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes move-in-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(-10%);
    opacity: 1;
  }
}

@keyframes move-in-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(-10%);
    opacity: 1;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  40% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    opacity: 1;
  }
}

@keyframes change-background {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
    background-color: rgba(255, 200, 140, 0.7);
  }
  100% {
    background-color: var(--mid-orange);
  }
}

@keyframes move-across-from-left {
  0% {
    transform: translateX(1315%);
  }
  100% {
    transform: translateX(10%);
  }
}

form,
section {
  box-sizing: border-box;
  margin: 1%;
  padding: 1%;
}

section.flex-address-box {
  background-color: var(--light-blue);
  border: 5px solid #98c6eb;
  width: 15%;
  font-size: 1.3rem;
}

section.flex-info-box {
  background-color: var(--light-blue);
  border: 5px solid #98c6eb;
}

form {
  background-color: var(--mid-orange);
}

section {
  border: 5px solid var(--light-blue);
}

address {
  margin-top: 10%;
}

/* media query additional styles */
@media only screen and (max-width: 992px) {
  header a {
    font-size: 3rem;
  }

  .top-img {
    width: 50%;
  }

  p.grid-item {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .top-img {
    width: 50%;
  }

  .grid-container {
    grid-template-columns: auto auto;
  }

  p.grid-item {
    font-size: 1rem;
  }

  label.search-box,
  input.search-box {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 600px) {
}
